* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Verdana', Geneva, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

.app {
    text-align: center;
    padding: 2px;
    background-color: #fff;
}

h1 {
    color: #fc7300;
    font-size: large;
    margin-bottom: 20px;
}

input,
select {
    width: 250ps;
    height: 29px;
    margin: 19px;
    border-radius: 5px;
    padding: 5px;
    font-size: large;
    box-shadow: inset 0px 0px 10px 2px rgb(250, 248, 248);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #fc7300;
    color: #050505;
}

#crypto-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
    padding: 1px;
    margin-top: 5px;
}

.crypto-card {
    background-color: #fc7300;
    color: rgb(3, 3, 3);
    border-radius: 20px;
    padding: 2px;
    width: 200px;
    box-shadow: 0px 4px 6px rgba(248, 247, 246, 0.8);
    text-align: center;
    transition: transform 0.5s ease, box-shadow 0.5s ease;

}

.crypto-card:hover {
    transform: translateX(-10px);
    box-shadow: 0px 8px 10px rgba(93, 62, 14, 0.819);
}




.crypto-card h2 {
    margin-bottom: 1px;
    font-size: larger;
}


.crypto-card p {
    margin: 0.5px;
    font-size: large;
}


@media (max-width: 768px) {
    #crypto-container {
        flex-direction: column;
        align-items: center;
    }

    .crypto-card {
        width: 70%;
    }
}