body,
h1,
h2,
p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header,
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

/*styling for the main content area*/
main {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;

}

/*sidebar styling*/

.sidebar {
    background-color: #f4f4f4;
    padding: 10px;
    box-sizing: border-box;
    flex: 1;
    min-width: 200px;
}

/*main content styling*/

.content {
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
    flex: 3;
    min-width: 300px;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }

}